configuration {
    modi:                   [ drun, ssh, window ];
    combi-modi:             [ drun, ssh, window ];
    //display-drun:           "launch";
    display-window:         "workspace";
    //drun-display-format:    "{name}";
    disable-history:        true;
    hover-select:           true;
    me-accept-entry:        "!MousePrimary";
 }
 
@theme "themes/sidebar.rasi"
