* {
    font: "Manaspace 16";
}

window {
    location: center;
    anchor: center;
    height: 60px;
    width: 30em;
    children: [mainbox];
    background-color: transparent;
}

mainbox {
    orientation: vertical;
    background-color: #e3d533;
    border-radius: 20px;
    border: 2px;
    border-color: #000000;
}

inputbar {
    children: [prompt, entry];
    background-color: inherit;
    padding: 10px;
}

prompt {
    background-color: transparent;
    font: "mono 20";
    padding: 0px 00px 0px 10px;
}

entry {
    background-color: transparent;
    text-color: #9f6a05;
    font: "JetBrains Mono Bold 11";
    vertical-align: 0.5;
    border-radius: 10px;
    padding: 0px 10px 0px 10px;
}
